<section id="intro">
    <div class="jumbotron masthead">
        <div class="container">
            <!-- slider navigation -->
            <div class="sequence-nav">
                <div class="prev">
                    <span></span>
                </div>
                <div class="next">
                    <span></span>
                </div>
            </div>
            <!-- end slider navigation -->
            <div class="row">
                <div class="span12">
                    <div id="slider_holder">
                        <div id="sequence">
                            <ul  style="width: 100%; height: 100%; position: relative;">

                                {% for rs in slider %}
                                <!-- Layer 1 -->
                                <li class="" style="display: list-item; width: 100%; height: 100%; position: absolute; z-index: 1;">
                                    <div class="info animate-out" style="display: block;">
                                        <h2>{{ rs.title }}</h2>
                                        <p>
                                            {{ rs.description }}
                                        </p>
                                        <a class="btn btn-success" href="#">Learn more &raquo;</a>
                                    </div>
                                    <a href="{{ path('car_show', {'id': rs.id}) }}">
                                        <img class="slider_img animate-in" src="{{ asset('uploads/images/'~rs.image) }}" alt="">
                                    </a>

                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <!-- Sequence Slider::END-->
                </div>
            </div>
        </div>
    </div>
</section>