.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# intellij configs
.idea/

#img
*.png
*.jpg
*.svg
public/uploads/

#templates
TEMPS/
