{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile {% endblock %}

{% block body %}


    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>USER PANEL</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="maincontent">
        <div class="container">
            <div class="row">
                {{ include('user/usermenu.html.twig') }}
                <div class="span8">
                    <!-- start article 1 -->
                    <article class="blog-post">
                        <div class="post-heading">
                            <h3><a href="#">Edit User Profile Information</a></h3>
                        </div>
                        <div class="row">
                            <div class="span8">

                                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


