<div class="span4">
    <aside>
        <div class="widget">
            <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
            </form>
        </div>
        <div class="widget">
            <h4>User Menu</h4>
            <h2>
                <img src="{{ asset('uploads/images/'~ app.user.image) }}" style="height: 40px" alt="User Image" class="user-avatar-md rounded-circle">
                {{ app.user.name }} {{ app.user.surname }}</h2>

            <ul class="cat">
                <li><a href="/user">My Profile</a></li>
                <li><a href="/user/car">My Cars</a></li>
                <li><a href="/user/comments">My Comments</a></li>
                <li><a href="/user/advertisement">My Advertisement</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </aside>
</div>